#folders
**/.idea/*
!/.idea/runConfigurations
**/target/*
**/.gradle/*
**/.mvn/*
**/obj/*
**/bin/*
**/_binaries/*
**/build/*
**/.DS_Store/*
**/.vs/*
**/.vscode/*
**/Reports/*
**/.settings/*
**/.classpath/*
**/.project/*
**/.factorypath/*
**/.metadata/*
**/_terraform_*/*
**/.terraform*/*
**/generated-temp/*
**/node_modules/*

#files
launch.json
*.iws
*.iml
*.ipr
*.log
*.war
*.class
*.csv
*.coverage
hs_err_pid*
_temptf*.tfvars
*-personal.properties
*-local.properties
terraform.tfstate
_project.xml
vars-generated.yml
serenity.properties
.classpath
.factorypath
.project
stop-all.txt
NuGet.Config.xml
*.targets
*.console.log
cis_file.*
account_token.csv
test-output*.xml
.DS_Store
token-cache.properties
testresults.html
*.trx
coverage.opencover.xml
hosts
.DS_Store